.dropdown-wrapper {
  display: flex;
  flex-direction: column;
  flex: 50%;
  /*filter: drop-shadow(0 5px 3px lightgray);*/
}

.dropdown-item {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  height: 100%;
}

.dropdown-title {
  display: flex;
  background-color: #ff6060;
  justify-content: space-between;
  padding: 5px 15px;
  border-radius: 10px;
  align-items: center;
}

.dropdown-title.closed {
  border-radius: 10px 10px 0 0;
}

.dropdown-item h2 {
  font-size: 1.125em;
  color: #ffffff;
  font-weight: 400;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  font-size: 1.4em;
  color: white;
  background-color: transparent;
  cursor: pointer;
}

.dropdown-item p {
  font-size: 1.125em;
  color: #ff6060;
  padding: 10px;
}

.dropdown-description {
  background-color: #f6f6f6;
  padding: 15px 10px 5px 10px;
  border-radius: 0 0 5px 5px;
  font-size: 1.125em;
  color: #ff6060;
  height: 100%;
  filter: drop-shadow(0 5px 3px lightgray);
}

.dropdown-description ul {
  list-style-type: none;
  padding: 10px;
}

.wrapper-description {
  display: flex;
  gap: 15px;
  justify-content: center; /* centers the dropdowns horizontally */
}