.content-apartment {
  padding: 20px 100px;
}

.wrapper-title {
  display: flex;
  color: #ff6060;
  margin-top: 20px;
  filter: drop-shadow(0 5px 3px lightgray);
}

/* custom dropdown */

.wrapper-description h2 {
  font-size: 1.2em;
  padding: 5px;
}

.wrapper-description button {
  font-size: 1.5em;
  padding: 5px;
}

.container-apartment {
  flex: 1 1 60%;
  display: flex;
  flex-direction: column;
  font-size: 1em;
}

.container-apartment h1 {
  font-size: 2em;
  font-weight: 450;
}

.container-apartment h2 {
  font-size: 1.125em;
  font-weight: 500;
}

/* host */

.container-host {
  display: flex;
  flex-direction: column;
  margin-top: 7px;
}

.infos-host {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.infos-host p {
  font-size: 1.125em;
  width: 50%;
}

.avatar {
  border-radius: 50%;
  background-color: #c4c4c4;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

/* description */

.wrapper-description {
  display: flex;
  justify-content: space-between;
}

.tags {
  margin-top: 20px;
  flex-wrap: wrap;
  gap: 6px;
}

.rating {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  flex-shrink: 0;
}

/* new flex apartment infos */

@media screen and (max-width: 792px) {
  .content-apartment {
    padding: 30px 30px 0 30px;
  }

  .wrapper-title {
    flex-direction: column;
  }

  .container-apartment {
    order: 1;
    gap: 10px;
  }

  .tags {
    order: 2;
    margin-top: 10px;
  }

  .container-host {
    order: 3;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .rating {
    order: 1;
  }

  .star {
    font-size: 0.6em;
  }

  .infos-host {
    order: 2;
    margin-left: 10px;
  }

  .wrapper-description {
    flex-direction: column;
  }
}
