.banner-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
}

.banner-wrapper h1 {
  position:absolute;
  z-index: 2;
  color: #FFFFFF;
  font-size: 2.3em;
  font-weight: 500;
  margin: 0;
  text-align: center;
}

.home-content {
  padding: 40px 100px;
}


/* responsive */
@media (max-width: 792px) {
  .home-content {
    padding: 20px;
  }
}
