.container-headerImg {
  position: relative;
  background-color: black;
  border-radius: 25px;
}

.container-headerImg h1 {
  position:absolute;
  z-index: 1;
  top: 30%;
  left: 30%;
  color: #FFFFFF;
  font-size: 3em;
  font-weight: 500;
}

.home-content {
  padding: 60px 40px;
}