.card-wrapper {
  background-color: #f6f6f6;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  padding: 40px;
  gap: 45px;
  margin-top: 40px;
}

.card-link {
  width: 30%;
  aspect-ratio: 1;
  border-radius: 25px;
}

.card-container {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  position: relative;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}

.card-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, white, black);
    opacity: 0.4;
    border-radius: 25px;
  }

.card-title {
  font-size: 1em;
  font-weight: 500;
  color: white;
  padding: 20px;
  position: absolute;
  bottom: 0;
  z-index: 3;
  width: 75%;
}

@media (max-width: 792px) {

  .card-wrapper {
    background-color: white;
    box-shadow: none;
    flex-direction: column;
    padding: 0;
    gap: 25px;
    margin-top: 25px;
  }

  .card-link {
    width: 100%;
    aspect-ratio: 2/1.5;
  }
}