.nav {
  color: #ff6060;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 500;
}

.nav:last-child {
  margin-left: 40px;
}

.nav:visited {
  color: #ff6060;
}

.nav:hover {
  border-bottom: 1px solid #ff6060;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 40px 100px 0 100px;
}

.logo {
  flex: 1;
}

nav {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

@media (max-width: 792px) {
  header {
    padding: 20px;
  }

  .logo {
    width: 50%;
  }

  nav {
    width: 50%;
    /*justify-content: center;*/
  }

  .nav {
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
    text-transform: uppercase;
  }
}
