.nav {
  color: #ff6060;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 500;
}

.nav:last-child {
  margin-left: 40px;
}

.nav:visited {
  color: #ff6060;
}

.nav:hover {
  border-bottom: 1px solid #ff6060;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 40px 100px 0 100px;
}

.logo {
  /*flex: 1 1 auto;*/
  filter: drop-shadow(0 5px 3px lightgray);
}

nav {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
  filter: drop-shadow(0 5px 3px lightgray);
  /*filter: drop-shadow(0 6px 12px gray)*/

  /*text-shadow: gray 0 6px 12px;*/
}

@media (max-width: 792px) {

  /* header */

  header {
    padding: 30px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }

  .logo {
    flex: 1 1 auto;
  }

  nav {
    flex: 1 1 auto;
  }

  .nav {
    font-weight: 400;
    font-size: 1.125em;
    margin-left: 5px;
    margin-right: 5px;
    text-transform: uppercase;
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}