.error-title h1 {
  font-size: 16em;
  font-weight: 800;
}

.error-title h2 {
  font-weight: 500;
  text-align: center;
}

.back-button {
  color: #ff6060;
  text-decoration: underline;
}

.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ff6060;
  gap: 35px;
  padding-bottom: 20px;
  margin: 100px 0 200px 0;
}

.error-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 792px) {
    .error-title h1 {
        font-size: 10em;
    }
}
