.error-title h1 {
    font-size: 16em;
    font-weight: 800;
}

.error-title h2 {
    font-weight: 500;
}

.back-button {
    color: #FF6060;
    text-decoration: underline;
}

.error-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FF6060;
    gap: 35px;
    padding-bottom: 20px;
}