* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  max-width: 100%;

  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: block;
}

a {
  text-decoration: none;
}

.about-content {
  padding: 40px 100px !important;
}

.about-content h1 {
  display: none !important;
}

@media screen and (max-width: 792px) {
  .about-content {
    padding: 30px !important;
  }
}
